{% extends 'main.html.twig' %}

{% block title %}Панель управления / Сайты{% endblock %}

{% block content %}
    <h3 class="page-title">Панель управления / Сайты</h3>
    <div id="admin-sites">
        {{ include('admin/sites/_index.html.twig') }}
    </div>

    <div class="modal" id="form-modal" tabindex="-1" role="dialog" data-remote="true"></div>
    {{ include('confirm.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/form.basic') }}
{% endblock %}