{{ form_start(form, params) }}
<div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">{{ title }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" style="height:560px;">
            {{ include('tabs.html.twig', {'tabs': [
                {
                    'title': 'Каталог',
                    'target': 'form-base',
                    'view': 'admin/catalogs/catalogs/_form.base.html.twig'
                },
                {
                    'title': 'Поля',
                    'target': 'form-fields',
                    'path': catalog.uuid is not null ? path('catalog_field_index', {'uuid': catalog.uuid}) : null,
                    'disabled': catalog.uuid is null
                },
                {
                    'title': 'Дополнительно',
                    'target': 'form-extra',
                    'view': 'admin/catalogs/catalogs/_form.extra.html.twig'
                }
            ]}) }}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
            <button type="submit" class="btn btn-primary">Подтвердить</button>
        </div>
    </div>
</div>
{{ form_end(form) }}