// override the bootstrap built-in custom variables
@import "bootstrap";
// the ~ allows you to reference things in node_modules
@import '~bootstrap/scss/bootstrap';
// import icons
@import '~material-design-icons/iconfont/material-icons.css';

body {
    background-color: $gray-200;
}
.navbar {
    z-index: 100;
}
.content {
    padding: $grid-gutter-width;
}
.page-title {
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: -1px;
    margin: 0 0 30px 0;
}
.form {
    font: $font-family-sans-serif;
}
.form-actions {
    border-top: solid 1px $input-border-color;
    padding-top: $grid-gutter-width;
}
label.required::after,
legend.required::after {
    content: '*';
    color: $danger;
    padding-left: 4px;
}
.btn > .material-icons,
.dropdown > span > .material-icons {
    display: block;
}
.table {
    table-layout: fixed;
    th {
        font-weight: normal;
    }
    td {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
.tab-content {
    padding-top: 1.25rem;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    background: transparent;
    background: linear-gradient(to bottom, $white, $gray-200);
    border-color: $gray-400 $gray-400 $gray-200;
}
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
    border-color: transparent;
}
.nav-tabs .nav-link.active:hover,
.nav-tabs .nav-link.active:focus {
    border-color: $gray-400 $gray-400 $gray-200;
}
.modal .nav-tabs .nav-link.active,
.modal .nav-tabs .nav-item.show .nav-link {
    background: $white;
    border-color: $gray-400 $gray-400 $white;
}
.form-check {
    padding-bottom: .25rem;
}
.form-group-column {
    & .col {
        overflow: hidden;
    }
    & .form-check-label {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
    }
}
.sort {
    color: $body-color;
    position: relative;
    display: block;
    &::after {
        color: $secondary;
        content: "arrow_drop_down";
        font-family: "Material Icons", sans-serif;
        font-size: 24px;
        line-height: 24px;
        position: absolute;
        right: 0;
        top: 3px;
    };
    &::before {
        color: $secondary;
        content: "arrow_drop_up";
        font-family: "Material Icons", sans-serif;
        font-size: 24px;
        line-height: 24px;
        position: absolute;
        right: 0;
        top: -3px;
    };
    &.asc::before,
    &.desc::after {
        color: $primary;
    };
}
.col-form-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.context {
    cursor: pointer;
}
.breadcrumb {
    background-color: rgba($black, .05);
}
.input-selector > ul {
    margin-top: 1em;
}
.is-invalid ~ .invalid-feedback {
    display: block;
}
.is-invalid ~ .form-text {
    display: none;
}