{% extends 'main.html.twig' %}

{% block title %}Обучение / Учебные курсы{% endblock %}

{% block content %}
    <h3 class="page-title">Обучение / Учебные курсы</h3>

    <div id="training-courses-list" data-pjax="true">
        {{ include('training/courses/_index.html.twig') }}
    </div>

    <div class="modal" id="form-modal" tabindex="-1" role="dialog" data-remote="true"></div>

    {{ include('confirm.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/form.basic') }}
{% endblock %}