{% extends 'main.html.twig' %}

{% block title %}Справочники{% endblock %}

{% block content %}
    <h3 class="page-title">Справочники / {{ type.title }}</h3>
    <div id="catalogs-list">
        {{ include('catalogs/catalogs/_index.html.twig') }}
    </div>
{% endblock %}